
html {
	background-color: #869960;
	box-sizing: border-box;
}

*,*:before,*:after {
	box-sizing: inherit
}

body {
	font-family: Tahoma, sans-serif;
	font-size: 87%;
}

.container {
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
	padding-left: 40px;
	padding-right: 40px;
}

.header {
	/* margin-top: 20px;
	margin-bottom: 20px; */
	padding-top: 20px;
	/* padding-bottom: 20px; */
	color: #617140;
	background: #fff url(../../images/leaf-title.jpg) right center no-repeat;
}

.header-title {
	margin: 0;
	font-weight: normal;
	font-size: 165%;
}

.header-slogan {
	margin: 0;
}
/* nav-list */
.nav{
	margin-top: 20px;
	/* position: relative; */
}

.nav-list{
	display: flex;
	margin: 0;
	padding: 0;
}

.nav-list-item{
	list-style: none;
	margin-right: 5px;
}

.nav-list-item-link{
	display: block;
	color: #617140;
	text-decoration: none;
	padding: 10px 20px;
	border: 3px solid #e5e9dc;
	border-bottom: none;
}

.nav-sublist{
	position: absolute;
	background-color: #e5e9dc;
	margin: 0;
	padding: 0;
	/* top:0;
	bottom: 0;
	right: 0;
	left: 0; */
	display: none;
	z-index: 1;
}

.nav-list-item:hover .nav-sublist{
	display: block;
}

.nav-list-item-link:hover{
	/* background-color: #e5e9dc; */
	/* background-color: #617140;
	color: #fff; */
}

.nav-list-item:hover > .nav-list-item-link{
	background-color: #e5e9dc;
}

.nav-sublist .nav-list-item-link:hover{
	background-color: #869960;
	color: #fff;
}

.content-area {
	display: flex;
	border-top: 3px solid #e5e9dc;
	border-bottom: 3px solid #e5e9dc;
}

.main-area {
	width: 66%;
	padding-right: 40px;
}

.banner {
	position: relative;
}

.banner-image {
	width: 100%;
	display: block;
}

.banner-description {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0px;
	line-height: 50px;
	width: 200px;
	margin-left: -100px;
	margin-top: -25px;
	text-align: center;
	font-weight: normal;
	font-size: 165%;
	font-weight: 100;
	color: #e5e9dc;
	background-color: rgba(0, 0, 0, 0.5);
}

.sidebar {
	width: 34%;
	background-color: #e5e9dc;
	padding: 20px 40px;
	font-size: 85%;
}

.footer {
	text-align: center;
	font-size: 85%;
	color: #999;
	padding-bottom: 20px;
	padding-top: 20px;
}
